.our_brands_pg {
  width: 100%;
}
.hero_our_brands_pg {
  width: 100%;
  height: 50vh;
  background: url(../../Assets/ourbrands.jpeg);
  background-size: cover;
  background-position: 100%;
  position: relative;
}
.hero_overlay_our_brands_pg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    189deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(85, 84, 84, 0.4) 100%
  );
  color: #fff;
}
.hero_overlay_our_brands_pg h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.our_brands_content_container {
  width: 100%;
  padding: 50px 120px;
  background-color: #eee;
}
.our_brands_content_container h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.our_brands_container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 50px;
}
.our_brands_container:last-child {
  margin-right: 0;
}
.our_brands_container img {
  width: 200px;
  padding-bottom: 50px;
  cursor: pointer;
}
.our_brands_pg #anggerik {
  transform: scale(1.3) translateY(17px);
}
.our_brands_pg #appleton {
  transform: translateY(-30px);
}
.our_brands_pg #tristar {
  transform: translateY(10px);
  margin-left: 270px;
}
.our_brands_pg .sec_row {
  justify-content: center;
}
.logo_container {
  /* background-color: red; */
  width: 300px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
  margin-right: 20px;
}
#arflu {
  transform: scale(1.2) translateY(20px);
}
#anggerik_brand {
  transform: scale(1.2) translateY(25px) !important;
}
#appleton_brand {
  transform: scale(0.9) translateY(28px) !important;
}
#honeywell_brand {
  transform: translateY(25px);
}
.tristar_cont {
  height: 200px;
}
#tristar_brand {
  transform: translateY(25px);
}
@media only screen and (max-width: 600px) {
  .our_brands_container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 0px;
  }
  .our_brands_pg #anggerik {
    margin-bottom: 50px;
  }
  .our_brands_pg #tristar {
    transform: translateY(10px);
    margin-left: 0;
  }
  .hero_overlay_our_brands_pg h1 {
    font-size: 38px;
    width: 100%;
    text-align: center;
  }
}
