.about_pg {
  width: 100%;
}
.hero_about_pg {
  width: 100%;
  height: 50vh;
  background: url(../../Assets/hero.jpeg) no-repeat;
  background-size: cover;
  background-position: 100%;
  position: relative;
}
.hero_overlay_about_pg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    189deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(85, 84, 84, 0.4) 100%
  );
  color: #fff;
}
.hero_overlay_about_pg h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  width: 100%;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.content_about_pg {
  width: 100%;
  padding: 50px 120px;
}
.content_about_pg_left {
  width: 100%;
  padding-top: 20px;
}
.content_about_pg_left p {
  margin-top: 20px;
  line-height: 30px;
}
.content_about_pg_right {
  width: 100%;
  display: flex;
  justify-content: center;
}
.content_about_pg_right img {
  width: 400px;
  height: 400px;
  margin-top: 50px;
}
@media only screen and (max-width: 1000px) {
  .content_about_pg {
    width: 100%;
    padding: 50px 40px;
  }
}
@media only screen and (max-width: 800px) {
  .content_about_pg_right img {
    width: 300px;
    height: 300px;
    margin-top: 50px;
  }
}
@media only screen and (max-width: 600px) {
  .content_about_pg {
    width: 100%;
    padding: 50px 20px;
  }
  .about_us_pg_container {
    flex-direction: column;
  }
  .content_about_pg_right {
    order: 1;
  }
  .content_about_pg_left {
    order: 2;
  }
  .content_about_pg_right img {
    width: 100%;
    height: 400px;
    margin-top: 50px;
  }
}
@media only screen and (max-width: 400px) {
  .content_about_pg_right img {
    height: 250px;
  }
  .hero_overlay_about_pg h1 {
    font-size: 38px;
  }
}
