.our_products_home {
  width: 100%;
  height: 80vh;
  padding-top: 50px;
  /* background-color: #f6d337;
  position: relative; */
  background-color: #f6d337;
}
.our_products_home h1 {
  display: flex;
  justify-content: center;
}
#our_product_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 10%;
}
.our_products_home a {
  text-decoration: none;
  color: black;
}
#our_product_carousel {
  cursor: pointer !important;
}
