.getInTouch-pg {
  width: 100%;
  padding-bottom: 50px;
}
.hero_contact_pg {
  width: 100%;
  height: 50vh;
  background: url(../../Assets/contactus.jpeg);
  background-position: 100%;
  position: relative;
}
.hero_overlay_contact_pg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    189deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(85, 84, 84, 0.7) 100%
  );
  color: #fff;
}
.hero_overlay_contact_pg h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}
.contact_content_container {
  padding: 50px 100px;
  width: 60%;
}
.contact_content_container h1 {
  display: flex;
}
.contact_content_container_form {
  margin-top: 30px;
  position: relative;
}
.contact_content_container_form input {
  border: 1px solid #000;
  border-radius: 20px;
  padding: 15px;
  width: 250px;
  margin-right: 20px;
  background-color: rgba(255, 255, 255);
}
.form_container {
  margin-bottom: 20px;
}
#message {
  border-radius: 20px;
  padding: 15px;
}
.contact_content_container button {
  background-color: #000;
  padding: 12px 35px;
  border-radius: 20px;
  border: none;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
  position: absolute;
  left: 25%;
  transform: translateX(-75%);
  bottom: -80px;
}
.contact_img_container {
  width: 50%;
  display: flex;
  align-items: center;
}
.contact_img_container img {
  width: 500px;
  border-radius: 30px;
  margin-top: 50px;
}

@media only screen and (max-width: 1320px) {
  #message {
    width: 250px;
  }
  .contact_content_container input {
    margin-bottom: 20px;
  }
  .form_container {
    margin-top: 0;
    padding-top: 0;
  }
}

@media only screen and (max-width: 600px) {
  .contact_img_container {
    display: none;
  }
  .contact_img_container img {
    display: none;
  }
  .contact_content_container {
    width: 100%;
    text-align: center;
  }
  .contact_content_container h1 {
    display: block;
  }
  .contact_content_container input {
    margin-right: 0;
    width: 320px;
  }
  #message {
    width: 320px;
  }
  .contact_content_container button {
    left: 50%;
    transform: translateX(-50%);
  }
  .contact_content_container {
    padding: 50px 0px;
  }
}
