.news_media_pg {
  width: 100%;
}
.hero_news_media {
  width: 100%;
  height: 50vh;
  background: url(../../Assets/newsm.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.hero_news_media_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    189deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(85, 84, 84, 0.4) 100%
  );
  color: #fff;
}
.hero_news_media_overlay h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}
.news_media_content {
  width: 100%;
  padding: 50px 120px;
}
.news_media_content h1 {
  display: flex;
  justify-content: center;
}
.news_media_card_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media only screen and (max-width: 400px) {
  .hero_news_media_overlay h1 {
    font-size: 38px;
  }
  .news_media_card_container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .news_media_content {
    width: 100%;
    padding: 50px 20px;
  }
}
