.products_card {
  width: 300px;
  height: 250px;
  position: relative;
  /* margin-right: 80px; */
  cursor: pointer;
  margin-bottom: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.products_card img {
  width: 300px;
  height: 250px;
}
.products_card h3 {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5px;
}
