.our_brands {
  width: 100%;
  height: 70vh;
  background-color: #eee;
  padding-top: 50px;
}
.our_brands h1 {
  display: flex;
  justify-content: center;
}
.our_brands img {
  z-index: -1;
}
#arflu_component {
  transform: scale(0.6) translateX(-50px);
}
#honeywell_component {
  transform: scale(0.7);
}
#tristar_component {
  transform: scale(0.8);
}

@media only screen and (max-width: 1200px) {
  #arflu_component {
    transform: scale(0.4) translateX(-100px);
  }
}
@media only screen and (max-width: 850px) {
  #arflu_component {
    transform: scale(0.4) translateX(-200px);
  }
  #anggerik_component {
    transform: translateX(-30px);
  }
}
@media only screen and (max-width: 470px) {
  #arflu_component {
    transform: scale(0.6) translateX(0);
  }
  #anggerik_component {
    transform: translateX(0);
  }
  #honeywell_component {
    transform: translateX(0);
  }
  #tristar_component {
    transform: translateX(0);
  }
  #appleton_component {
    transform: translateX(0);
  }
}
@media only screen and (max-width: 400px) {
  #arflu_component {
    transform: scale(0.6) translateX(0);
  }
  #anggerik_component {
    transform: translateX(0);
  }
  #honeywell_component {
    transform: translateX(0px) scale(0.8);
  }
  #tristar_component {
    transform: translateX(0) scale(0.8);
  }
  #appleton_component {
    transform: translateX(0);
  }
}
@media only screen and (max-width: 350px) {
  #arflu_component {
    transform: scale(0.6) translateX(-40px);
  }
  #anggerik_component {
    transform: translateX(25px);
  }
  #honeywell_component {
    transform: translateX(25px);
  }
  #tristar_component {
    transform: translateX(25px);
  }
  #appleton_component {
    transform: translateX(70px);
  }
}
