.our_brands {
  width: 100%;
  height: 70vh;
  background-color: #eee;
  padding-top: 50px;
}
.our_brands h1 {
  display: flex;
  justify-content: center;
}
.our_brands img {
  z-index: -1;
}
#arflu {
  transform: scale(0.6) translateX(-50px);
}
