.our_customers_pg {
  width: 100%;
  background-color: #eee;
  height: 70vh;
  padding-top: 50px;
}
.our_customers_pg h1 {
  display: flex;
  justify-content: center;
}
.our_customer_slider {
  width: 100%;
  margin-top: 40px;
}
.our_customer_slider div {
  display: flex;
  align-items: center;
}
#reliance_container {
  display: none;
}
.bharat_img {
  width: 400px;
  transform: translateX(-20px);
}
.indian_oil_img {
  width: 300px;
}
.ntpc_img {
  width: 300px;
}
.bhel_img {
  width: 300px;
  margin: 0 auto;
}
.ongc_img {
  width: 200px;
  transform: translateX(30px);
  margin: 0 auto;
}
.reliance_img {
  width: 200px;
  transform: translateX(60px);
}

@media only screen and (max-width: 450px) {
  .bharat_img {
    transform: translateX(0);
  }
  .indian_oil_img {
    width: 300px;
    margin: 0 auto;
  }
  .ntpc_img {
    width: 300px;
    margin: 0 auto;
  }
  .ongc_img {
    width: 200px;
    transform: translateX(0);
    margin: 0 auto;
  }
  .reliance_img {
    width: 200px;
    transform: translateX(0px);
    margin: 0 auto;
  }
}
